<header class="header">
  <nav class="nav">

    <ul class="menu">
      <li><a routerLink="/">INÍCIO</a></li>
      <li><a routerLink="/office">ESOCIAL</a></li>
      <li><a routerLink="/projects">TREINAMENTOS</a></li>
      <li><a routerLink="/media">INSPEÇÕES</a></li>
      <li><a routerLink="/blog">LAUDOS</a></li>
      <li><a routerLink="/contact">SERVIÇOD</a></li>
      <li><a routerLink="/contact">EAD</a></li>
    </ul>

    <div class="social">
      <a href="https://www.facebook.com/gambetisst/"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/gambetisst/"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-whatsapp"></i></a>
      <a href="https://www.linkedin.com/in/erika-gambeti-seguran%C3%A7a-do-trabalho-365209273/"><i class="fab fa-linkedin-in"></i></a>
    </div>

  </nav>
</header>
