:host {
  display: block;
  font-family: "Montserrat", sans-serif;

  &.required label {
    position: relative;

    &::after {
      content: '*';
      margin-left: 5px;
    }
  }

  label {
    display: block;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    color: var(--gb-brand-primary-600);
  }

  .custom-select-container {
    position: relative;
    width: 100%;

    &.disabled {
      opacity: 0.6;
      pointer-events: none;
    }

    .select-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 2px solid var(--gb-gray-200);
      border-radius: 12px;
      padding: 10px 16px;
      background-color: var(--gb-brand-primary-50);
      cursor: pointer;
      transition: border-color 0.25s, box-shadow 0.25s;

      &:hover {
        border-color: var(--gb-brand-primary-500);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      }

      .select-text {
        color: #333;
        font-weight: 500;

        &.placeholder {
          color: #aaa;
          font-style: italic;
        }
      }

      .arrow {
        font-size: 0.8rem;
        color: #666;
        transition: transform 0.3s;

        &.open {
          transform: rotate(180deg);
        }
      }
    }

    .options-list {
      position: absolute;
      top: calc(100% - 10px);
      left: 0;
      width: 100%;
      max-height: 220px;
      overflow-y: auto;
      border: 2px solid #ccc;
      border-radius: 12px;
      background-color: #fff;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
      z-index: 10;
      padding: 0;
      margin: 0;
      list-style: none;
      transform-origin: top center;

      &:empty::before {
        content: 'Nenhuma opção encontrada';
        padding: 10px;
        display: block;
        color: var(--gb-gray-500);
      }

      &.enter-animation {
        animation: bounceIn 0.35s ease forwards;
      }

      &.leave-animation {
        animation: bounceOut 0.25s ease forwards;
      }

      .option {
        padding: 10px 16px;
        cursor: pointer;
        transition: background-color 0.2s, color 0.2s;

        &:hover {
          background-color: var(--gb-brand-primary-50);
        }

        &.disabled {
          color: #aaa;
          cursor: not-allowed;
        }

        &.featured {
          font-weight: 600;
          color: var(--gb-brand-primary-600);
        }
      }
    }
  }
}

// keyframes bounce
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scaleY(0.7) translateY(-20px);
  }

  50% {
    opacity: 1;
    transform: scaleY(1.05) translateY(10px);
  }

  70% {
    transform: scaleY(0.95) translateY(-5px);
  }

  100% {
    transform: scaleY(1) translateY(0);
  }
}

@keyframes bounceOut {
  0% {
    opacity: 1;
    transform: scaleY(1) translateY(0);
  }

  30% {
    transform: scaleY(0.95) translateY(-5px);
  }

  100% {
    opacity: 0;
    transform: scaleY(0.7) translateY(-20px);
  }
}