:host(gb-nr20-laudo) {
  section {
    padding: 100px 0;
  }

  ::ng-deep {
    button:hover {
      border-color: var(--gb-brand-secondary-600) !important;
      color: var(--gb-brand-secondary-600) !important;
    }

    button.active {
      background: linear-gradient(135deg, #991b1b, #dc2626) !important;
      color: var(--gb-surface-body) !important;
      border-color: transparent !important;
    }
  }
}