.footer {
  background: var(--gb-brand-primary-800);
  color: var(--gb-gray-500);
  padding: 60px 80px 20px;

  &__container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
  }

  &__brand {
    max-width: 340px;

    p {
      margin-top: 10px;
      line-height: 1.6;
    }
  }

  &__logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--gb-surface-base);
    letter-spacing: 2px;

    &__destaque {
      color: var(--gb-brand-secondary-500);
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      font-size: 1.5rem;
      letter-spacing: 2px;
    }
  }



  &__column {
    h3 {
      color: var(--gb-surface-body);
      font-size: 14px;
      letter-spacing: 1px;
      margin-bottom: 16px;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin-bottom: 10px;
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: var(--gb-surface-body);
      }
    }
  }

  &__bottom {
    border-top: 1px solid rgba(var(--gb-surface-body-rgb), 0.1);
    margin-top: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }
}


.footer-column-sub {
  color: #94A3B8;
}



@media (max-width: 900px) {
  .footer {

    &__container {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    &__bottom {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 40px 30px;

    &__container {
      grid-template-columns: 1fr;
    }
  }
}
