section {
  padding: 100px 0px;

  .nrs-g {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    gap: 8px;

    .nrc {
      background: var(--gb-gray-100);
      border: 1px solid var(--gb-gray-200);
      border-radius: 10px;
      padding: 12px 10px;
      text-align: center;
      transition: all .3s cubic-bezier(.4, 0, .2, 1);
      position: relative;

      &.dest {
        border: 2px solid var(--green);
        background: rgba(16, 185, 129, .03);
      }

      &.nrc.rvg {
        opacity: .4;
      }

      .nn {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: .62rem;
        display: inline-block;
        padding: 3px 8px;
        border-radius: 5px;
        margin-bottom: 4px;
      }

      h4 {
        font-size: .72rem;
        color: var(--primary);
        margin-bottom: 2px;
      }

      p {
        font-size: .58rem;
        color: var(--gray);
        line-height: 1.3;
        font-weight: 600;
      }
    }
  }
}
