
<header class="header">
  <div class="header-container">

    <div class="logo">
      <a autoScrollTo="home" [routerLink]="['/']">
        <span class="logo-gambeti">
            GAMBE<span class="logo-destaque">TI</span>
        </span>
        <span class="logo-subtitle">
          ENGENHARIA & SEGURANÇA DO TRABALHO
        </span>
      </a>
    </div>

    <nav class="desktop-nav">
      <ul class="nav-list">
        @for (item of menuItems; track $index) {
          <li class="nav-item">
            <a
            [routerLink]="['/']"
            [delay]="100"
              [autoScrollTo]="item.link"
              class="nav-link"
              [class.active]="activeSection === item.link"
              [class.btn-orcamento]="item.highlight"
              (click)="item.onclick?.()"
            >
              {{ item.label }}
              @if(item.icon){
                <i [class]="item.icon"></i>
              }
            </a>
          </li>
        }
      </ul>
    </nav>

    <button
      class="mobile-menu-btn"
      (click)="toggleMenu()"
      [class.active]="isMenuOpen"
    >
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </button>

    <div class="mobile-nav" [class.open]="isMenuOpen">
      <ul class="mobile-nav-list">
        @for (item of menuItems; track $index) {
          <li class="mobile-nav-item">
            <a
              [autoScrollTo]="item.link"
              class="mobile-nav-link"
              [class.active]="activeSection === item.link"
              [class.mobile-btn-orcamento]="item.highlight"
              (click)="isMenuOpen = false"
            >
              {{ item.label }}
            </a>
          </li>
        }
      </ul>
    </div>

  </div>
</header>

@if(isMenuOpen) {
  <div class="overlay" (click)="isMenuOpen = false"></div>
}

