/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  font-family: "Inter", system-ui, sans-serif;
  scrollbar-color: var(--gb-brand-primary-500) var(--gb-surface-body);

  &::selection {
    background-color: var(--gb-selection-bg);
    color: var(--gb-selection-text);
  }
}

section.faq {
  background-color: var(--gb-surface-base) !important;

  .faq-list {
    max-width: 820px;
    margin: 0 auto;

    .faq-item {
      border-bottom: 1px solid var(--gb-gray-200);

      .faq-question {
        width: 100%;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        color: var(--gb-brand-primary-700);
        transition: color 0.3s;
        gap: 16px;
        padding: 24px 0;

        &:has(+div.open) {
          color: var(--gb-brand-secondary-500);

          i {
            transform: rotate(180deg);
          }
        }

        &:hover {
          color: var(--gb-brand-secondary-500);
          transform: unset;
          box-shadow: unset;
        }

        i {
          color: var(-gb-brand-secondary-500);
          font-size: 0.8rem;
          transition: transform 0.3s;
          flex-shrink: 0;
        }
      }

      .faq-answer {
        transition: max-height 0.4s ease, padding-bottom 0.6s ease;
        color: var(--gb-gray-600);
        font-size: 0.95rem;
        line-height: 1.8;
        max-height: 500px;
        overflow: hidden;

        &:not(.open) {
          padding-bottom: 0px;
        }

        &.open {
          padding-bottom: 24px;
        }
      }
    }
  }
}